# Python packages required for unit testing

flake8>=6.0.0                   # PEP checking
coverage                        # Unit test coverage
coveralls>=3.3.0                # Coveralls.io linking
xlsxwriter>=3.0.0               # Excel file writing
