__pycache__/
*.py[cod]
*$py.class
*.pyc

*.patch
.idea/

.env
.venv
env/
venv/
VENV/
ENV/
env.bak/
venv.bak/

# Coverage reports
.coverage
htmlcov/

# PIP build
build/
dist/
kibom.egg-info/

.python-version
