Source: kibom.inti-cmnb
Section: electronics
Priority: optional
Maintainer: Salvador Eduardo Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper (>=11~), dh-python, python3-all
Standards-Version: 4.1.4
Homepage: https://github.com/INTI-CMNB/KiBoM
X-Python3-Version: >= 3.2

Package: kibom.inti-cmnb
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, python3-colorama, python3:any (>= 3.2~)
Recommends: python3-xlsxwriter
Description: Configurable BoM generation tool for KiCad
 Can generate CSV, HTML, XML and XLSX Bill of Materials for KiCad projects.
 The script can be used from the command line or as a KiCad BoM generator.
